.planeta {
  padding: 10px;
  margin: 5px;
  border: solid black 1px;
}

#botones {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#contenedor {
  display: flex;
  width: 99%;
}

#planetas {
  flex: 50%;
  border: 1px solid black;
  text-align: center;
}

.planeta:hover {
  cursor: pointer;
  color: grey;
}

#gentuza {
  flex: 50%;
  border: 1px solid black;
  padding: 0px 15px;
}
